beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
gitdb==0.6.4
gitdb2==2.0.3
GitPython==2.1.7
google-api-python-client==1.6.4
httplib2==0.10.3
idna==2.6
jira==1.0.10
langdetect==1.0.7
mpmath==0.19
oauth2client==4.1.2
oauthlib==2.0.4
pbr==3.1.1
peewee==2.10.1
pyasn1==0.3.6
pyasn1-modules==0.1.4
PyGithub==1.35
PyJWT==1.5.3
python-dateutil==2.6.1
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
six==1.11.0
slackbot==0.5.1
slacker==0.9.60
smmap==0.9.0
smmap2==2.0.3
sympy==1.1.1
uritemplate==3.0.0
urllib3==1.22
websocket-client==0.44.0
wikipedia==1.4.0
