beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
defusedxml==0.5.0
gitdb==0.6.4
gitdb2==2.0.2
GitPython==2.1.5
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
jira==1.0.10
langdetect==1.0.7
mpmath==0.19
oauth2client==4.1.1
oauthlib==2.0.2
pbr==3.0.1
peewee==2.10.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
PyGithub==1.34
PyJWT==1.5.0
python-dateutil==2.6.0
requests==2.17.3
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
simplejson==3.10.0
six==1.10.0
slackbot==0.4.1
slacker==0.9.50
smmap==0.9.0
smmap2==2.0.3
sympy==1.0
tlslite==0.4.9
uritemplate==3.0.0
urllib3==1.21.1
websocket-client==0.40.0
wikipedia==1.4.0
