beautifulsoup4==4.4.1
jira==1.0.3
mpmath==0.19
oauthlib==1.1.1
requests==2.10.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
six==1.10.0
slackbot==0.4.1
slacker==0.9.15
sympy==1.0
tlslite==0.4.9
websocket-client==0.37.0
wheel==0.24.0
wikipedia==1.4.0
