## Settings for slackbot

# API Token for Bot integration
# https://pyconjp.slack.com/services/B15KRL7CY
API_TOKEN = "<your-api-token>"

DEFAULT_REPLY = "コマンドが不明です。ヘルプを参照してください https://github.com/pyconjp/pyconjpbot#commands"

ERRORS_TO = 'pyconjpbot-test'

PLUGINS = [
    #'slackbot.plugins',
    'pyconjpbot.plugins',
    'pyconjpbot.google_plugins',
]

ALIASES = '$'

## Settings for jira plugin
JIRA_URL = 'https://pyconjp.atlassian.net/'
JIRA_PROJECTS = ['ISSHA', 'SAR', 'TRI'] # JIRA Project Keys
JIRA_DEFAULT_PROJECT = 'SAR'  # JIRA Default Project Key

# see https://docs.google.com/spreadsheets/d/1YiqErBDdp5QWfTlfDmxc6Vi696b_NGFJKzuyM-v6PDM/edit#gid=0
JIRA_USER = '<JIRA Username>'
JIRA_PASS = '<JIRA Password>'

## Settings for translator plugin
# https://www.microsoft.com/en-us/translator/getstarted.aspx
TRANSLATOR_ID = '<Your Client ID>'
TRANSLATOR_SECRET = '<Your Client Secret>'

## Settings for github plugin
GITHUB_TOKEN = '<Your Github Token>'
GITHUB_ORGANIZATION = '<Your organization>'
