# API Token for Bot integration
# https://pyconjp.slack.com/services/B15KRL7CY
API_TOKEN = "<your-api-token>"

DEFAULT_REPLY = "Sorry but I didn't understand you"

ERRORS_TO = '#pyconjpbot-test'

PLUGINS = [
    'slackbot.plugins',
    'pyconjpbot.plugins',
]
